.root {
   margin: 10px auto;
li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid #fe5f1e;
    border-radius: 30px;
    cursor: pointer;
    &:hover {
        background: #fe5f1e;
        color:white;
    }
    a {
        color: #fe5f1e;
        &:hover {
            color:white;
        }
    }
}


    // :global добовляем для костомных классов (которые не модульные)
    // :global {
    //     .previous {
    //         background-color: aqua;
    //     }
    // }
}